:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --white-color: #ffffff;
    --bg-color: #f5f5f5;
    --color-filter-button: #f5f4fa;
    --black: #000000;
    --button-focus: #188ce8;
    --hero-color: #2f303a;
    --color-address: rgba(255, 255, 255, 0.6);
    --border-color: #eeeeee;
    --icon-color: #afb1b8;
}